@media screen and (max-width:600px) {
    /* .footer{
        display: none;
    } */
    

    /* nav */
    nav{
        /* padding: 2vw 13vw 2vw 13vw; */
    }
    .hamburger{
        display: block;
        font-size: 1.5rem;
    }
    .items{
       
        display: none;
    }
    .hamburger:hover+.items{
        display: block;
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        /* color: red; */
        background-color: #1B3764;
        top:10vw;
        left:70vw;
    }


    /* hero 1 */
    .hero1{
        display: flex;
        flex-direction: column;
    }
    .content1{
        padding-top: 8vw;
        display: flex;
        text-align: center;
    }
    .content1 h1{
            font-size: var(--h1);
    }
    .content1 p{
        font-size: var(--p);
    }
    .content1 .button{
        display: flex;
        justify-content: center;
    }
    .content1 .button>button{
       padding: 2vw;
    }

    /* book image */
    .book{
        margin-top: 5vw;
        display: flex;
        
    }
    .book img{
        height: 100vw;
        margin-bottom: 5vw;
    }



    /* About author */
    .hero2{
        display: flex;
        flex-direction: column;
        padding: 5vh 10vw 5vh 10vw;
        
    }
    .author{
        display: flex;
        justify-content: center;
        margin-top: 15vw;
    }
    .autimg{
        height: 70vw;
        width: 65vw;
        left:0;

    }
    .autimg img{
        height:68vw;
        width: 61vw;
        right: 5vw;
        bottom: 5vh;
    }

    /* content 2 */
    .content2{
        margin-top: 5vw;
        display: flex;
        gap:1vw
    }
    .content2 hr{
        position: relative;
        left:20vw;
        width: 8vw;
        
    }
    .content2 h1{
        font-size: var(--h1);
        text-align: center;
    }
    .content2 p{
        font-size: var(--p);
        text-align: center;
    }
    .rating{
        display: flex;
        justify-content: center;
    }
    .content2 img{
        width: 80vw;
        height: 25vw;
    }


    /* trusted by the others */
    .hero3{
        border: 1px solid black;
        height: auto;
        margin: 2vw 0vw;
    }
    .hero3 h1{
        font-size: var(--h1);
    }
    .hero3 h2{
        font-size: var(--h2);
    }
    .hero3 p{
        font-size: var(--p);
    }
    .company{
        display: flex;
        flex-direction: column;
        gap:10vw;
    }
    .company img{
        height: 20vw;
        width: 23vw;
        border: 1px solid black;
        box-shadow: 1px 5px 1px black;
    }


    /* book copy */

    .hero4{
        display: flex;
        flex-direction: column;
    }
    .hero4 h1{
        font-size: var(--h1);
    }
    .hero4 p{
        font-size: var(--p);
    }
    .content3{
        text-align: center;
    }
    .content3 button{
        margin-left: 25vw;
    }
    .coffee img{
        width: 75vw;
        margin-top: 8vw;
    }




    /* what you learn */

    .hero5>h1{
        font-size: var(--h1);
    }
    .hero5 hr{
            width: 10vw;
            left:35vw;
    }
    .content4{
        display: flex;
        flex-direction: column-reverse;
    }
    .content5{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        position: relative;
    }
    .content5>div{
        height: 30vw;
        width: 40vw;
    }
    .two{
        position: absolute;
        /* right:0vw; */
        left:42vw
    }
    .four{
        position: absolute;
        /* right:0vw; */
        left:42vw;
        top:31vw
    }
    .box1,.box3 p{
        margin-top: 1.5vw;
    }
    .box1,.box2,.box3,.box4{
        height:5vw;
        width: 5vw;
    }
    .box1,.box2,.box3,.box4 p{
            font-size: var(--p);
    }
    .handbookimg img{
        height: 55vw;
        width: 55vw;
    }
    .learn{
        display: flex;
        justify-content: center;
    }
    .handbookimg{
        margin-left: 8vw;
        margin-bottom: 8vw;
        height: 56vw;
        width: 56vw;
    }


    /* Chapter includes */
    .hero6 h1{
        font-size: var(--h1);
    }
    .hero6 hr{
        width: 9vw;
    }
    .chapter{
        gap:4vw;
    }
    .c1 h2{
        font-size: var(--h2);
    }
    .c1 p{
        font-size: var(--p );
    }
    .c1{
        display: flex;
        gap:0;
        flex-direction: column;

        
    }
    .c1 .border{
        position:relative;
        right: 15vw;
        top:2.8vw;
        height: 2vw;
        width: 2vw;
    }
    .marr{
        display: flex;
        margin-left: 3.3vw;
    }
    .button3 button{
        width: 40vw;
    }
    .button3{
        text-align: center;
        margin: 5vw;
    }



    /* readers say about the book */
    .hero7{
        flex-direction: column;
    }
    .content7{
        width: auto;
        margin-top: 0;
    }
    .content7 hr{
        /* left:68vw; */
        width:8vw;
    }
    .border7>div{
        height: 3vw;
        width: 3vw;
    }
    .border7{
        justify-content: center;
        /* flex-direction: column-reverse; */
    }
    .content7 h3{
        text-align: center;

    }
    .cards{
        margin-top: 5vw;
    }
    .border8{
        gap:1vw;
    }
    .border9{
        height: 2vw;
        width: 2vw;
    }
    .border10{
        height: 2vw;
        width: 2vw;
    }
    .card3{
        margin-top: 6vw;
        margin-left: 12vw;
    }



    /* Articles */

    .articles{
        flex-direction: column;
        margin-left: 8vw;
        
    }
    
    /* Read a free chapter*/

    .hero9 hr{
        left: 40vw;
        bottom: 13vw;
        width:10vw ;
    }
    .form{
        margin-left: 5vw;
    }
    .hero9{
        padding-top:2vw ;
    }



    /* footer */
    .footer{
        flex-direction: column;
        /* justify-content: center; */
        /* padding-left: 35vw; */
        gap:8vw
    }
    .explore1{
     /* flex-direction: column; */
     /* position: relative; */
     /* right: 10vw; */
    }
    .touch{
        margin-left: 20vw;
    }
    .footericons{
        margin-left: 25vw;
    }
    .border9{
        height: 1.5vw;
        width: 1.5vw;
    }
}


